.medication {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 1rem;
  transition: background-color 0.2s ease-in-out;



  &.taken {
    background-color: #d0d0d0;
  }

  .time-entry,
  .taken-entry {
    display: inline-block; /* just added */
  }

  .delete button {
    padding: 0.75rem 1.2rem;
    font-size: 1.2rem;
  }


  .name {
    font-size: 0.5rem;
    margin: 0;
  }

  .dosage,
  .frequency,
  .time {
    font-size: 1rem;
    margin: 0;
  }

  .times-list {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    gap: 0.5rem;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 0.5rem;
  }




  .taken {
    display: flex;
    align-items: center;
  }

  .actions {
    display: flex;
    align-items: center;
  }

  button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: darkred;
    color: #fff;
    font-size: 1rem;
    &:hover {
      background-color: darken(darkred, 5%);
    }
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    text-align: center;
    .times-list {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
    }
  }
}


