.add-medication-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  & > div {
    margin-bottom: 1rem;
  }

  label {
    font-weight: bold;
  }

  input,
  select {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    width: 100%;

    &:focus {
      outline: none;
      box-shadow: 0 0 3px #aaaaaa;
    }
  }

  .button-group {
    display: flex;
    justify-content: flex-end;

    button {
      padding: 0.5rem 1rem;
      margin-left: 1rem;
      border-radius: 10px;
      font-size: 1rem;
      cursor: pointer;
    }

    .btn-primary {
      background-color: #009688;
      color: #fff;
      border: none;
    }

    .btn-secondary {
      background-color: #f0f0f0;
      color: #333;
      border: none;
    }
  }

  /* Extra small devices (older Phones) */
  @media screen and (max-width: 410px) {
    input,
    select {
      font-size: 0.8rem;
      padding: 0.3rem;
    }

    .button-group {
      flex-direction: column;
      justify-content: center;

      button {
        margin-left: 0;
        margin-top: 0.5rem;
        width: 100%;
      }

      .btn-primary,
      .btn-secondary {
        padding: 0.3rem 1rem;
        font-size: 0.8rem;
      }
    }
  }

  /* Extra small devices (Phones) */
  @media screen and (min-width: 411px) and (max-width: 576px) {
    input,
    select {
      font-size: 0.9rem;
      padding: 0.4rem;
    }

    .button-group {
      flex-direction: column;
      justify-content: center;

      button {
        margin-left: 0;
        margin-top: 0.5rem;
        width: 100%;
      }

      .btn-primary,
      .btn-secondary {
        padding: 0.4rem 1rem;
        font-size: 0.9rem;
      }
    }
  }

  /* Small devices (Tablets) */
  @media screen and (min-width: 577px) and (max-width: 768px) {
    input,
    select {
      font-size: 1rem;
      padding: 0.5rem;
    }

    .button-group {
      flex-direction: column;
      justify-content: center;

      button {
        margin-left: 0;
        margin-top: 0.5rem;
        width: 100%;
      }

      .btn-primary,
      .btn-secondary {
        padding: 0.5rem 1rem;
        font-size: 1rem;
      }
    }
  }
  /* Medium devices (Desktops) */
  @media screen and (min-width: 769px) and (max-width: 992px) {
    input,
    select {
      font-size: 1rem;
      padding: 0.5rem;
    }

    .button-group {
      flex-direction: row;
      justify-content: flex-end;

      button {
        margin-left: 1rem;
        margin-top: 0;
        width: auto;
      }

      .btn-primary,
      .btn-secondary {
        padding: 0.5rem 1rem;
        font-size: 1rem;
      }
    }
  }

  /* Medium devices (Tablets) */
  @media screen and (min-width: 577px) and (max-width: 768px) {
    .add-medication-form {
      label {
        font-size: 0.9rem;
      }

      input,
      select {
        font-size: 0.9rem;
        padding: 0.4rem;
      }

      .button-group button {
        font-size: 0.9rem;
      }
    }
  }

  /* Large devices (Desktops) */
  @media screen and (min-width: 769px) and (max-width: 992px) {
    .add-medication-form {
      label {
        font-size: 1rem;
      }

      input,
      select {
        font-size: 1rem;
        padding: 0.5rem;
      }

      .button-group button {
        font-size: 1rem;
      }
    }
  }

  /* Extra large devices (Desktops) */
  @media screen and (min-width: 993px) and (max-width: 1200px) {
    .add-medication-form {
      label {
        font-size: 1.1rem;
      }

      input,
      select {
        font-size: 1.1rem;
        padding: 0.6rem;
      }

      .button-group button {
        font-size: 1.1rem;
      }
    }
  }

  /* Extra extra large devices (Desktops) */
  @media screen and (min-width: 1201px) {
    .add-medication-form {
      label {
        font-size: 1.2rem;
      }

      input,
      select {
        font-size: 1.2rem;
        padding: 0.7rem;
      }

      .button-group button {
        font-size: 1.2rem;
      }
    }
  }
}