.add-medication-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  & > div {
    margin-bottom: 1rem;
  }

  label {
    font-weight: bold;
  }

  input,
  select {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    width: 100%;

    &:focus {
      outline: none;
      box-shadow: 0 0 3px #aaaaaa;
    }
  }

  .button-group {
    display: flex;
    justify-content: flex-end;

    button {
      padding: 0.5rem 1rem;
      margin-left: 1rem;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;
    }

    .btn-primary {
      background-color: #009688;
      color: #fff;
      border: none;
    }

    .btn-secondary {
      background-color: #f0f0f0;
      color: #333;
      border: none;
    }
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;

    & > div {
      margin-bottom: 0;
      margin-right: 1rem;
    }

    .button-group {
      margin-left: auto;
    }
  }
}